<template>
  <div>
      <h3><center>Urgent Request for Medical Supplies/Funds from Zengcheng to fight Coronavirus</center></h3>
  </div>
</template>
<script>
    
</script>

<style scoped>
  h3 {
    font-sze: 40;
    color: red;
    padding: 0 1em;
  }
</style>
