<template>
  <div>
      <h3><center><a href="/newsletters/assets/Autumn_2024_issue.pdf">Autumn 2024 Newsletter Available Now</a></center></h3>
  </div>
</template>
<script>
    
</script>

<style scoped>
  h3 {
    font-sze: 40;
    color: red;
    padding: 0 1em;
  }
</style>
