<template>
  <div>
      <h3><center><a href="https://tungjung.nz/calendar/calendar-2021.html">Ventnor Memorial Unveiling April 2021 in the Hokianga.  Limited Accommodation!!</a></center></h3>
  </div>
</template>
<script>
    
</script>

<style scoped>
  h3 {
    font-sze: 40;
    color: red;
    padding: 0 1em;
  }
</style>
